{{!--
/**
 * ----------------------------------------------------------------------------
 * © ISC it & software consultants GmbH  (All rights reserved.)
 * DO NOT MODIFY THIS FILE !
 * ----------------------------------------------------------------------------
 * Author        : RuppelA                 
 * Create Date   : 07.07.2025  
 * Change Date   : 07.07.2025
 * Main Program  : ISC_DeepL_Translator
 * Description   : edit.hbs
 * ----------------------------------------------------------------------------
 * Change Log    :
 * Date        Name    Description
 * ----------------------------------------------------------------------------
 * ----------------------------------------------------------------------------
 */
--}}

<!-- custom/modules/Tasks/clients/base/fields/isc_translate_de2en-rowaction/edit.hbs -->
<a href="{{#if fullRoute}}#{{fullRoute}}{{else}}{{#if def.route}}#{{buildRoute context=context model=model
                                                                               action=def.route.action}}{{else}}javascript:void(0);{{/if}}{{/if}}"
   class="{{baseClass}} btn{{#if def.primary}} btn-primary{{/if}}"
    {{#if def.tooltip}}rel="tooltip" data-placement="bottom" title="{{str def.tooltip module}}"{{/if}}
    {{#if ariaLabel}}aria-label="{{ariaLabel}}"{{/if}}
   role="button" tabindex="{{tabIndex}}" name="{{name}}" id='{{name}}'>
    {{#if def.icon}}<i class="fa {{def.icon}}"></i> {{/if}}{{label}}
</a>
