{{!--
/**
 * ------------------------------------------------------------------------------
 * © ISC it & software consultants GmbH  (All rights reserved.)
 * DO NOT MODIFY THIS FILE !
 * ------------------------------------------------------------------------------
 * Author        : DontG
 * Create Date   : 17.11.2022
 * Change Date   : 04.01.2023
 * Main Program  : isc_ZE_task_rel
 * Description   : ISC Zeiterfassung Aufgangeben Relation Button
 * ------------------------------------------------------------------------------
 * Change Log    :
 * Date        Name    Description
 * ----------------------------------------------------------------------------
 * ----------------------------------------------------------------------------
 */
 --}}
<span class="fieldset actions list btn-group">
{{#if value}}
<a href="javascript:void(0);" style="margin-left:0!important;"
   class="btn"
   rel="tooltip"
   data-placement="bottom"
   data-action="unlink"
   title="{{value}}, {{str 'LBL_ACTION_UNLINK'}}"
   name="TaskSel-unlink"
   role="button" tabindex="{{tabIndex}}">
        <i class="fa fa-unlink"></i>
</a>
{{/if}}
<a href="javascript:void(0);" style="margin-left:0!important;"
   class="btn"
   rel="tooltip"
   data-placement="bottom"
   data-action="link"
   title="{{str 'LBL_MODULE_NAME_SINGULAR' 'Tasks'}}, {{str 'LBL_ACTION_LINK'}}"
   name="TaskSel-link"
   role="button" tabindex="{{tabIndex}}">
    <i class="fa fa-search"></i>
</a>
{{#if value}}
<a href="javascript:void(0);"
   class="btn"
   rel="tooltip"
   data-placement="bottom"
   data-action="taskpreview"
   title="{{value}}"
   name="TaskSel-preview"
   role="button" tabindex="{{tabIndex}}">
    <i class="fa fa-eye"></i>
</a>
{{/if}}
</span>
