{{!--
/**
 * ----------------------------------------------------------------------------
 * © ISC it & software consultants GmbH  (All rights reserved.)
 * DO NOT MODIFY THIS FILE !
 * ----------------------------------------------------------------------------
 * Author        : RuppelA                 
 * Create Date   : 07.07.2025  
 * Change Date   : 07.07.2025
 * Main Program  : ISC_DeepL_Translator
 * Description   : list.hbs
 * ----------------------------------------------------------------------------
 * Change Log    :
 * Date        Name    Description
 * ----------------------------------------------------------------------------
 * ----------------------------------------------------------------------------
 */
--}}
<!--custom/modules/Tasks/clients/base/fields/isc_translate_de2en-rowaction/list.hbs-->

<a href="{{#if fullRoute}}#{{fullRoute}}{{else}}{{#if def.route}}#{{buildRoute context=context model=model action=def.route.action}}{{else}}javascript:void(0);{{/if}}{{/if}}"
   class="{{baseClass}}{{#if def.button}} btn{{/if}}{{#if def.primary}} btn-primary{{/if}}"
    {{#if def.event}}
   data-event="{{def.event}}"
    {{/if}}
    {{#if def.tooltip}}
   rel="tooltip"
   data-placement="bottom"
   title="{{str def.tooltip module}}"
    {{/if}}
    {{#if ariaLabel}}aria-label="{{ariaLabel}}"{{/if}}
   role="button" tabindex="{{tabIndex}}" name="{{name}}">
    {{#if def.tooltip}}
        {{#if def.icon}}
            <i class="fa {{def.icon}}"></i>
        {{/if}}
    {{/if}}
    {{#unless def.dismiss_label}}
        {{str label}}
    {{/unless}}
</a>
