{{!--
/**
 * ------------------------------------------------------------------------------
 * © ISC it & software consultants GmbH  (All rights reserved.)
 * DO NOT MODIFY THIS FILE !
 * ------------------------------------------------------------------------------
 * Author        : MoschkauM
 * Create Date   : 28.02.2025
 * Change Date   : 28.02.2025
 * Main Program  : Zeiterfassung Usability-Anpassungen
 * Description   : custom Account detail
 * ------------------------------------------------------------------------------
 * Change Log    :
 * Date        Name    Description
 * ----------------------------------------------------------------------------
 * ----------------------------------------------------------------------------
 */
--}}
{{#if value.text}}
    <div class="ellipsis_inline" disabled data-placement="bottom"
         style="{{def.BaseStyle}}{{#if def.add_style}} {{def.add_style}}{{/if}}{{getDDLabel value.style def.enumlist}}"
        {{#if dir}} dir="{{dir}}"{{/if}} title="{{value.text}}">
        {{value.text}}
    </div>
{{/if}}
